<% if (@tag.errors.any?) %>
	<% @tag.errors.full_messages.each do |error| %>
	<p style="color:red;">
		<%= error %>
	</p>
	<% end %>
<% end %>


<%= form_for(@tag, html:{class:"form-horizontal", role:"form"}) do |f| %>
	
	<div class="form-group">
		<%= f.label :name, class:"col-md-2"  %>
		<div class="col-sm-7">
			<%= f.text_field :name, class:"form-control" %>
		</div>
	</div>


	<div class="actions col-sm-offset-2">
		<%= f.submit class:"btn btn-primary" %>
		<%= link_to 'Cancel', tags_path, class:"btn btn-default" %>
	</div>
<% end %>