<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<h3><%= @post.title %> by: <%= @post.author %></h3>
<p><%= @post.content %></p>
<ul>
Tags: <% @tags.each do |tag| %>
<li><%= tag.name %></li>
<% end %>
</ul>
<%= link_to "Edit", edit_post_path(@post) %>
