<!DOCTYPE html>
<html>
<head>
  <title>RailsManytomany</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

  <div class="navbar navbar-default">
		<div class="container-fluid">
      <%= link_to "Home", root_path, class:"navbar-brand" %> 
      
      <ul class="nav navbar-nav">
      <li><%= link_to "Create Post", new_post_path %></li>
      <li><%= link_to "View Tags", tags_path %></li>
      <li><%= link_to "Create Tag", new_tag_path %></li>
      </ul>
		</div>
  </div>

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "info" %>
    <%= content_tag :div, value, class: "text-center alert alert-info" %>  
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
